<body>
  <div id="intro-example" class="p-5 text-center bg-image banner">
    <div class="mask">
      <h1 class="mb-3">
        Welcome
      </h1>
      <p class="image-text">
        Our medical chatbot offers immediate access to reliable medical information and assistance. Get answers to your
        health queries anytime, anywhere, without the need for appointments or lengthy searches.
      </p>
      <img src="../../../assets/img/Bot.png" alt="Chat-Bot" class="Chat-Bot-Img">
      <button routerLink="/chat">Chat</button>
    </div>
  </div>
</body>
